body {
  background-color: black;
}
#h1 {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
  margin: auto;
  padding: 10px 10px 15px 10px;
  background-color: azure;
  border-radius: 20px;
  transform: rotate(180deg);
}
#h1:hover {
  cursor: pointer;
  background-color: rgb(13, 255, 0);
  transform: rotate(-3deg);
}
#h1:active{
  cursor: pointer;
  background-color: rgb(0, 255, 255);
  transform: rotate(-3deg);
  color: rgb(0, 0, 0);
}
#p {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: azure;
  margin: auto;
  padding: 15px 10px 15px 10px;
  font-weight: 900;
  font-size: larger;
}
#p:hover {
  transform: rotate(-1deg);
  cursor: not-allowed;
  background-color: rgb(17, 255, 0);
  font-weight: 900;
}
