body {
  background-color: black;
}
#h1 {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
  margin: 80px 420px 40px 420px;
  padding: 10px 10px 15px 10px;
  background-color: azure;
  border-radius: 20px;
}
#h1:hover {
  cursor: pointer;
  background-color: rgb(255, 184, 97);
  transform: rotate(180deg);
}
#h1:active{
  cursor: pointer;
  background-color: rgb(0, 51, 255);
  transform: rotate(-10deg);
  color: white;
}
#p {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: azure;
  margin: 20px 600px 20px 650px;
  padding: 15px 10px 15px 10px;
  font-weight: 900;
  font-size: larger;
}
#p:hover {
  transform: rotate(-10deg);
  cursor: pointer;
  background-color: rgb(17, 255, 0);
  font-weight: 900;
}
